@mixin albumart($w) {
  margin: $inline-padding;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: $w;

  img {
    height: auto;
  }

  input.amplitude-song-slider,
  img {
    width: 100%;
    @include full {
      width: 80%;
    }
    @include loose {
      width: 90%;
    }
    @include cosy {
      width: 95%;
    }
  }
}
