@import "settings";
@mixin controller() {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: $personal-space;
  width: 100%;

  div {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat !important;
  }

  div.amplitude-play-pause {
    width: 74px;
    height: 74px;
  }

  div.amplitude-next,
  div.amplitude-prev,
  div.amplitude-repeat,
  div.amplitude-shuffle {
    width: 60px;
    height: 60px;
  }

  div.amplitude-repeat,
  div.amplitude-shuffle {
    width: 48px;
    height: 48px;
  }

  div.amplitude-play-pause {
    background: url("/static/icons/play.svg");
  }

  div.amplitude-play-pause.amplitude-playing {
    background: url($icon-pause);
  }

  div.amplitude-shuffle {
    background: url($icon-shuffle);
  }

  div.amplitude-prev {
    background: url($icon-prev);
  }

  div.amplitude-next {
    background: url($icon-next);
  }

  div.amplitude-repeat {
    background: url($icon-repeat);
  }

  div.spacer {
    align: center;

    input,
    progress {
      display: block;
      margin: auto;
      align: center;
      width: 80%;
    }

    progress[value] {
      -webkit-appearance: none;
      appearance: none;
    }

    .amplitude-volume-slider {
      appearance: none;
      -webkit-appearance: none;
      height: 15px;
      outline: none;
    }

    .amplitude-volume-slider::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      background: url($icon-volume);
      cursor: pointer;
      height: 35px;
      width: 35px;
    }

    .amplitude-volume-slider::-moz-range-thumb {
      background: url($icon-volume);
      cursor: pointer;
      height: 35px;
      width: 35px;
    }
  }

  .amplitude-repeat-on,
  .amplitude-shuffle-on,
  div:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}
