$icon-play: "/static/icons/play.svg";
$icon-pause: "/static/icons/pause.svg";
$icon-prev: "/static/icons/prev.svg";
$icon-next: "/static/icons/next.svg";
$icon-shuffle: "/static/icons/shuffle.svg";
$icon-repeat: "/static/icons/repeat.svg";
$icon-volume: "/static/icons/volume.svg";
$icon-play: "/static/icons/play.svg";
$icon-favicon: "/static/favicon.png";
