@import "settings";
@mixin tracklist($w) {
  bottom: 30px;
  font-size: 80%;
  right: 0;
  list-style-type: none;
  margin: $inline-padding;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  top: 0;
  width: $w;

  li {
    cursor: pointer;
    height: 25px;
    padding: $inline-padding;
    overflow: hidden;
  }

  li:hover {
    background-color: $heaven-color;
  }

  li.amplitude-playing {
    background-image: url($icon-favicon);
    background-position: left;
    background-repeat: no-repeat !important;
    color: $hell-color;
    font-weight: bold;
    padding-left: 32px;
  }
}
