.amplitude-song-slider,
.amplitude-volume-slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: $heaven-color;
  height: 15px;
  margin-top: 10px;
  outline: none;
  width: 100%;
}

.amplitude-song-slider::-moz-range-thumb,
.amplitude-volume-slider::-moz-range-thumb {
  border: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.amplitude-song-slider::-webkit-slider-thumb,
.amplitude-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.amplitude-song-slider::-moz-range-thumb {
  background: url("/static/icons/slider.svg");
}

.amplitude-song-slider::-webkit-slider-thumb {
  background: url("/static/icons/slider.svg");
}

.amplitude-volume-slider::-moz-range-thumb {
  background: url("/static/icons/volume.svg");
}

.amplitude-volume-slider::-webkit-slider-thumb {
  background: url("/static/icons/volume.svg");
}

.amplitude-volume-slider:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}
@include tight_and_cosy {
  .amplitude-song-slider,
  .amplitude-volume-slider {
  }
}
