/* god theme: Call me to include god in your SASS projects.*/

main > h1 {
  font-size: 200%;
}

main > h2 {
  font-size: 150%;
}

main > h3 {
  font-size: 120%;
}

main > h4 {
  font-size: 100%;
}

main > h5 {
  font-size: 90%;
}

main > h6 {
  font-size: 80%;
}

main > article,
main > h6,
main > p,
main > form {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 22% !important;
  margin-right: 22% !important;
  padding: 6px 0.5%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  main > article,
  main > h6,
  main > p,
  main > form {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 22% !important;
    margin-right: 22% !important;
  }
}

@media screen and (max-width: 768px) {
  main > article,
  main > h6,
  main > p,
  main > form {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 6px !important;
    margin-right: 6px !important;
    padding: 3px;
  }
}

main > dl {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0  0 0  !important;
  padding: 6px 0.5%;
  width: 21.5% !important;
  break-before: always !important;
  /* give way on right */
  clear: right;
  float: right;
  margin-left: 0.5% !important;
  background: #000;
  border: 0;
  color: #fff;
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  overflow-y: auto;
  text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  main > dl {
    width: 21.5% !important;
  }
}

@media screen and (min-width: 1401px) {
  main > dl {
    width: 21.5% !important;
  }
}

main > menu {
  display: inline-block;
  margin: 0 0  0 0  !important;
  width: 21.5% !important;
  clear: left;
  float: left;
  margin-right: 0.5% !important;
  box-sizing: border-box;
  background: #000;
  border: 0;
  color: #fff;
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  border-right: 6px solid #572f2a;
  overflow-y: auto;
  padding: 6px 6px 40px;
  text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  main > menu {
    full: 0;
    width: 21.5% !important;
  }
}

@media screen and (min-width: 1401px) {
  main > menu {
    full: 0;
    width: 21.5% !important;
  }
}

@media screen and (max-width: 768px) {
  main > dl,
  main > menu {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 6px 0.5%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  main > dl,
  main > menu {
    margin-bottom: 7.8px !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  main > dl,
  main > menu {
    margin-bottom: 9.6px !important;
  }
}

@media screen and (min-width: 1401px) {
  main > dl,
  main > menu {
    margin-bottom: 11.4px !important;
  }
}

main > ol > li {
  margin-left: 6px !important;
}

main > ol > li > * {
  display: inline;
}

@media screen and (max-width: 1024px) {
  main > ol > li {
    list-style: inside;
  }
}

main > ul > li {
  margin-left: 6px !important;
}

main > ul > li > * {
  display: inline;
}

@media screen and (max-width: 1024px) {
  main > ul > li {
    list-style: inside;
  }
}

/* eve theme: Call me to include eve in your SASS projects.*/

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: #333;
  font-weight: bold !important;
  text-decoration: none !important;
}

a:active {
  color: #000;
}

a:visited,
a:active {
  text-decoration: none !important;
}

/* adon theme: Call me to include adon in your SASS projects.*/

main > .adonStatus-disabled {
  background: #a9a9a9;
  border: 0;
  color: #d3d3d3;
}

main > .adonStatus-error {
  background: red;
  border: 0;
  color: #000;
}

main > .adonStatus-fixed {
  position: fixed;
}

main > .adonStatus-sticky {
  position: sticky;
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  main > .adonStatus-sticky {
    position: relative;
  }

  main > .adonStatus-fixed {
    position: relative;
  }
}

main > .adonToolBar {
  height: 48px !important;
  max-height: 48px !important;
  min-height: 48px !important;
  cursor: pointer;
  margin-top: 6px !important;
  margin-bottom: 0 !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1024px) {
  main > .adonToolBar {
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    text-align: center !important;
  }
}

main > .adonToolBar.slavehidden {
  margin-top: 6px !important;
  background-color: #000 !important;
}

main > .adonToolSlave {
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility 500ms linear 0s, all 500ms;
  visibility: visible;
}

main > .adonToolSlave.slavehidden {
  height: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  padding: 0 0  !important;
  line-height: 0;
  transition: visibility 0s linear 500ms, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

main > dl.adonToolBar {
  text-align: right !important;
}

@media screen and (max-width: 1024px) {
  main > dl.adonToolBar {
    float: right !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 768px) {
  main > .adonHideOnScrollDown {
    transition: all 500ms;
    transition-timing-function: ease-in;
    -webkit-transition: all 500ms;
    -webkit-transition-timing-function: ease-in;
  }

  main > .adonHideOnScrollDown.adonHide {
    top: -500px;
  }
}

main > .adonNavScrollLink {
  cursor: pointer !important;
}

main > .adonNavScrollLink.adonnavactive {
  background-color: #000 !important;
  color: #fff;
}

/* innocent theme: Call me to include innocent in your SASS projects.*/

body {
  font-family: "Montserrat";
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6 {
  font-family: "Montserrat";
}

main > details {
  background: #000;
  border: #572f2a 1px solid;
  color: #000;
  padding: 0;
}

main > details summary {
  background: #572f2a;
  border: 0;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

main > details > * {
  padding: 3px 6px;
}

main > dl > dt {
  font: 800 96% "Montserrat";
  padding-top: 6px;
}

main > dl > dd {
  margin-left: 0;
  padding-bottom: 6px;
}

main > figure {
  border: 1px #fff solid;
  box-sizing: border-box;
  padding: 0.5% 0.5%  !important;
}

main > figure img {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

main > figure figcaption {
  color: #000;
  font-family: "Montserrat";
  margin-top: 6px;
}

@media screen and (max-width: 768px) {
  main > figure {
    margin-left: 0.5% !important;
    margin-right: 0.5% !important;
    width: 99% !important;
  }
}

main > form label {
  margin-top: 6px;
}

main > form legend {
  font-size: 96%;
  font-weight: bold;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

main > form label,
main > form legend {
  color: #fff;
  font-family: "Montserrat";
}

main > form textarea {
  width: 100%;
}

main > form input[type='checkbox'],
main > form input[type='radio'] {
  margin-right: 3px;
}

main > form input[type='checkbox'] + label,
main > form input[type='radio'] + label {
  color: #fff;
  font-family: "Montserrat";
  display: inline-block;
  margin-right: 6px;
  page-break-before: avoid;
}

main > form fieldset {
  border: 1px #fff solid;
  margin-top: 6px;
  padding: 0 6px;
}

main > form fieldset label {
  display: block;
}

main > form fieldset button,
main > form fieldset input,
main > form fieldset select,
main > form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 6px;
}

main > form fieldset input[type='email'],
main > form fieldset input[type='number'],
main > form fieldset input[type='password'],
main > form fieldset input[type='search'],
main > form fieldset input[type='tel'],
main > form fieldset input[type='text'],
main > form fieldset input[type='url'],
main > form fieldset select,
main > form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

main > form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

main > form fieldset input[type='color'],
main > form fieldset input[type='range'] {
  display: inline-block;
  margin-bottom: 6px;
  vertical-align: middle;
}

main > form fieldset input[type='date'],
main > form fieldset input[type='time'],
main > form fieldset input[type='datetime'],
main > form fieldset input[type='datetime-local'],
main > form fieldset input[type='month'],
main > form fieldset input[type='week'] {
  margin-bottom: 6px;
}

main > form fieldset button,
main > form fieldset input[type='submit'],
main > form fieldset input[type='reset'] {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  main > form {
    margin-left: 0.5% !important;
    margin-right: 0.5% !important;
    width: 99%;
  }
}

main > header {
  font-size: 96%;
  padding: 0.5%;
  text-align: center;
}

main > header h1,
main > header h2,
main > header h3,
main > header h4,
main > header h5,
main > header h6 {
  margin-bottom: 6px;
  margin-top: 6px;
}

main > hr {
  border: 1px #fff solid;
  margin-bottom: 6px;
  margin-top: 6px;
}

main > img {
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 56%;
}

@media screen and (max-width: 1024px) {
  main > img {
    margin-left: 0.5% !important;
    margin-right: 0.5% !important;
    width: 99% !important;
  }
}

main > menu * {
  box-sizing: border-box;
}

main > menu:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

main > menu a {
  text-decoration: none;
}

main > menu label {
  font-weight: bold;
}

main > menu a,
main > menu label {
  cursor: pointer;
  display: block;
  padding: 6px;
  white-space: nowrap;
}

main > menu a img,
main > menu label img {
  height: 32px;
  width: auto;
}

main > menu menu,
main > menu nav {
  margin: 0;
  padding: 0;
}

main > menu menu > nav menu nav {
  padding-left: 6px;
}

main > menu menu > nav {
  background: #fff;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

main > menu menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

main > menu > a,
main > menu > menu {
  float: left;
}

main > menu > menu > nav {
  position: absolute;
}

main > nav {
  box-sizing: border-box;
}

main > nav * {
  box-sizing: border-box;
}

main > nav:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

main > nav a {
  text-decoration: none;
  display: block;
}

main > nav label {
  font-weight: bold;
}

main > nav a,
main > nav label {
  cursor: pointer;
  display: block;
  white-space: nowrap;
}

main > nav menu,
main > nav nav {
  margin: 0;
  padding: 0;
}

main > nav menu > nav {
  background: #fff;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

main > nav menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

main > pre {
  background: #000;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 768px) {
  main > pre {
    margin-left: 0.5% !important;
    margin-right: 0.5% !important;
    width: 99% !important;
  }
}

main > table {
  display: table !important;
  text-align: left;
  width: 56%;
}

main > table td,
main > table th {
  padding: 3px 6px;
}

main > table > thead th,
main > table > tfoot th,
main > table > tbody th {
  color: #000;
  font-family: "Montserrat";
  font-weight: 800;
}

main > table > thead th {
  border-bottom: 1px solid #fff;
}

main > table > tfoot th {
  border-top: 1px solid #fff;
  text-align: right;
}

main > table > tbody td,
main > table > tbody th {
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  main > table {
    margin-left: 0.5% !important;
    margin-right: 0.5% !important;
    width: 99%;
  }
}

input[type='file'],
button {
  background: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px #fff solid;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  padding: 3px 6px;
  text-decoration: none;
}

input[type='file'] > img,
button > img {
  max-height: 88px;
  width: auto;
}

input[type='file']:hover,
input[type='file'].selected,
input[type='file'].active,
button:hover,
button.selected,
button.active {
  background: #000;
  border: 1px #fff solid;
  color: #fff;
}

input[type='file']:disabled,
button:disabled {
  background: #000;
  color: #fff;
  border: 0;
  cursor: not-allowed;
}

code {
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #000;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 6px;
}

main {
  background: #000;
  border: 0;
  color: #fff;
  bottom: 5%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
}

main > menu p a {
  display: inline;
  padding: 3px;
}

main > article {
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  margin-bottom: 0;
  margin-top: 0;
  padding: 6px;
}

main > article header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 6px;
  width: 100%;
}

main > article header div {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat !important;
}

main > article header div.amplitude-play-pause {
  width: 74px;
  height: 74px;
  background: url("/static/icons/play.svg");
}

main > article header div.amplitude-next,
main > article header div.amplitude-prev,
main > article header div.amplitude-repeat,
main > article header div.amplitude-shuffle {
  width: 60px;
  height: 60px;
}

main > article header div.amplitude-repeat,
main > article header div.amplitude-shuffle {
  width: 48px;
  height: 48px;
}

main > article header div.amplitude-play-pause.amplitude-playing {
  background: url("/static/icons/pause.svg");
}

main > article header div.amplitude-shuffle {
  background: url("/static/icons/shuffle.svg");
}

main > article header div.amplitude-prev {
  background: url("/static/icons/prev.svg");
}

main > article header div.amplitude-next {
  background: url("/static/icons/next.svg");
}

main > article header div.amplitude-repeat {
  background: url("/static/icons/repeat.svg");
}

main > article header div.spacer {
  align: center;
}

main > article header div.spacer input,
main > article header div.spacer progress {
  display: block;
  margin: auto;
  align: center;
  width: 80%;
}

main > article header div.spacer progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

main > article header div.spacer .amplitude-volume-slider {
  appearance: none;
  -webkit-appearance: none;
  height: 15px;
  outline: 0;
}

main > article header div.spacer .amplitude-volume-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: url("/static/icons/volume.svg");
  cursor: pointer;
  height: 35px;
  width: 35px;
}

main > article header div.spacer .amplitude-volume-slider::-moz-range-thumb {
  background: url("/static/icons/volume.svg");
  cursor: pointer;
  height: 35px;
  width: 35px;
}

main > article header .amplitude-repeat-on,
main > article header .amplitude-shuffle-on,
main > article header div:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

main > article h1,
main > article h2 {
  font-family: "Montserrat";
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

main > article h2 {
  margin-bottom: 6px;
}

main > article div {
  margin-bottom: 6px;
  margin-top: 0;
  height: 80%;
  position: relative;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

main > article div > figure {
  margin: 3px;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 47%;
}

main > article div > figure img {
  height: auto;
}

main > article div > figure input.amplitude-song-slider,
main > article div > figure img {
  width: 100%;
}

@media screen and (min-width: 1401px) {
  main > article div > figure input.amplitude-song-slider,
  main > article div > figure img {
    width: 80%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  main > article div > figure input.amplitude-song-slider,
  main > article div > figure img {
    width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  main > article div > figure input.amplitude-song-slider,
  main > article div > figure img {
    width: 95%;
  }
}

main > article div > ul {
  bottom: 30px;
  font-size: 80%;
  right: 0;
  list-style: none;
  margin: 3px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  top: 0;
  width: 51%;
}

main > article div > ul li {
  cursor: pointer;
  height: 25px;
  padding: 3px;
  overflow: hidden;
}

main > article div > ul li:hover {
  background-color: #000;
}

main > article div > ul li.amplitude-playing {
  background: url("/static/favicon.png") no-repeat  left !important;
  color: #572f2a;
  font-weight: bold;
  padding-left: 32px;
}

main > dl dt {
  display: inline-block;
  font-weight: bold;
}

main > dl dd figure,
main > dl dd p {
  margin: 0;
}

main > dl dd p {
  padding-bottom: 0;
  padding-top: 3px;
  width: 100%;
}

main > dl dd figure {
  padding-bottom: 3px;
  padding-top: 0;
  width: 100%;
}

main > dl dd figure a img {
  height: auto;
  width: 100px;
}

main > dl dd figure a img.active {
  border: 3px #fff solid;
}

@media screen and (max-width: 768px) {
  main > dl dd figure a img {
    width: 80%;
  }
}

footer {
  background: #572f2a;
  border: 0;
  color: #fff;
  height: 5% !important;
  max-height: 5% !important;
  min-height: 5% !important;
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 0;
  margin: 0;
  padding: 6px;
  position: fixed;
  right: 0;
  width: 100%;
}

footer div {
  padding: 0 6px 6px !important;
}

footer div img {
  max-height: 60px;
  width: auto;
}

footer div label {
  display: block;
  font-size: 80%;
}

footer div input {
  width: 180px !important;
}

footer div:last-child {
  flex-grow: 2;
  text-align: right;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 3px;
    justify-content: space-between;
  }

  footer img,
  footer label {
    display: none;
    visibility: hidden;
  }
}

button {
  background: #572f2a;
  color: #fff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 96%;
  text-decoration: none;
  font-weight: bold;
  margin-top: 3px;
}

button > img {
  max-height: 88px;
  width: auto;
}

button:hover,
button.selected,
button.active {
  background: #fff;
  border: 0;
  color: #572f2a;
}

button:disabled {
  background: #fff;
  color: #572f2a;
  border: 0;
  cursor: not-allowed;
}

@media screen and (max-width: 1024px) {
  button {
    padding: 3px;
  }
}

.amplitude-song-slider,
.amplitude-volume-slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: #000;
  height: 15px;
  margin-top: 10px;
  outline: 0;
  width: 100%;
}

.amplitude-song-slider::-moz-range-thumb,
.amplitude-volume-slider::-moz-range-thumb {
  border: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.amplitude-song-slider::-webkit-slider-thumb,
.amplitude-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.amplitude-song-slider::-moz-range-thumb {
  background: url("/static/icons/slider.svg");
}

.amplitude-song-slider::-webkit-slider-thumb {
  background: url("/static/icons/slider.svg");
}

.amplitude-volume-slider::-moz-range-thumb {
  background: url("/static/icons/volume.svg");
}

.amplitude-volume-slider::-webkit-slider-thumb {
  background: url("/static/icons/volume.svg");
}

.amplitude-volume-slider:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
}

progress {
  background-color: #000;
  border: 0;
  height: 20px;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: #000;
}

progress::-webkit-progress-value {
  background: #572f2a;
}

progress::-moz-progress-bar {
  background: #572f2a;
}

.progress-value,
progress[value] {
  color: #572f2a;
  font-size: 0.8em;
  float: right;
  height: 20px;
  line-height: 20px;
}

.adonRevealPanel > .adon-list-panel-button,
.adonRevealPanel > .adon-search-panel-button {
  position: absolute;
  top: 6px;
  right: 6px;
  background: url("/static/icons/hide.svg");
}

.adon-list-panel-button,
.adon-search-panel-button {
  cursor: pointer;
  display: none;
  height: 36px;
  visibility: hidden;
  width: 36px;
}

.adon-list-panel-button .slavevisible,
.adon-search-panel-button .slavevisible {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.adon-list-panel-button {
  background: url("/static/icons/list.svg");
}

.adon-search-panel-button {
  background: url("/static/icons/search.svg");
}

@media screen and (max-width: 768px) {
  .adonRevealPanel {
    display: none !important;
    visibility: hidden;
  }

  .adon-list-panel-button,
  .adon-search-panel-button {
    display: inline-block;
    visibility: visible;
  }

  .adonRevealPanel.slavevisible {
    border: 0;
    bottom: 0;
    left: 0;
    display: block !important;
    overflow-y: auto;
    margin: 0;
    padding: 6px 6px  !important;
    position: fixed;
    position: -webkit-fixed;
    right: 0;
    text-align: center !important;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 10000;
  }
}
/*# sourceMappingURL=psalms.css.map */
