.adonRevealPanel {
  > .adon-list-panel-button,
  > .adon-search-panel-button {
    position: absolute;
    top: $personal-space;
    right: $personal-space;
    background: url("/static/icons/hide.svg");
  }
}

.adon-list-panel-button,
.adon-search-panel-button {
  cursor: pointer;
  display: none;
  height: 36px;
  visibility: hidden;
  width: 36px;

  .slavevisible {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

.adon-list-panel-button {
  background: url("/static/icons/list.svg");
}

.adon-search-panel-button {
  background: url("/static/icons/search.svg");
}
@include tight {
  .adonRevealPanel {
    display: none !important;
    visibility: hidden;
  }

  .adon-list-panel-button,
  .adon-search-panel-button {
    display: inline-block;
    visibility: visible;
  }

  .adonRevealPanel.slavevisible {
    border: 0;
    bottom: 0;
    left: 0;
    display: block !important;
    overflow-y: auto;
    margin: 0;
    padding: $personal-space !important;
    position: fixed;
    position: -webkit-fixed;
    right: 0;
    text-align: center !important;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 10000;

  }
}
