menu {
  @include colorize_god($pillar-color, $god-color);
  @include fixed_height(100%);
  @include vmargin(0, 0);
  border-right: $hell-color 6px solid;
  overflow-y: auto;
  padding: $personal-space $personal-space 40px;
  text-align: center;

  // override menu a tags
  p a {
    display: inline;
    padding: $inline-padding;
  }
}
