progress {
	background-color: $pillar-color;
	border: 0;
	height: 20px;
	width: 100%;
}

progress::-webkit-progress-bar {
	background-color: $pillar-color;
}

progress::-webkit-progress-value {
	background: $hell-color;
}

progress::-moz-progress-bar {
	background: $hell-color;
}

.progress-value,
progress[value] {
	color: $hell-color;
	font-size: 0.8em;
	float: right;
	height: 20px;
	line-height: 20px;
}
