<header>
  <div class="adon-search-panel-button"></div>
  <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
  <div class="amplitude-prev" id="previous"></div>
  <div class="amplitude-play-pause" id="play-pause"></div>
  <div class="amplitude-next" id="next"></div>
  <div class="amplitude-repeat" id="repeat"></div>
  <div class="adon-list-panel-button"></div>
</header>
