<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8"/>
    <title data-amplitude-song-info="name">psalms</title>

    <meta name="description" content=""/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="psalms">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-startup-image" href="/static/splash.jpg">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="manifest" href="/static/manifest.json">

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/psalms.min.css?cb=v1.2"/>
  </head>
  <body ontouchstart=””>
    <main>
      <menu>
        {% if 'username' in session %}
          <div class="adon-search-panel-button"></div>
          <form action="{{url_for('index')}}" method="post">
            <input type="submit" name="logout" value="logout"/>
          </form>
          <h1><button><a href="/all">
            <img src="/static/apple-touch-icon.png"> {{ session['username'] }}
          </a></button></h1>
          <p>
            <b>buckets</b><br>
            {% for buck in buckets %}
              <a href="/{{ buck }}/?{{ existing_qs|urlencode }}">
                <button {% if buck == bucket %} class="active" {% endif %}>
                  {{ buck }}
                </button>
              </a>
            {% endfor %}
            <a href="/all/?{{ existing_qs|urlencode }}">
              <button {% if "all" == bucket %} class="active" {% endif %}>
                all
              </button>
            </a>
            <a href="/recent/?{{ existing_qs|urlencode }}">
              <button {% if "recent" == bucket %} class="active" {% endif %}>
                recent
              </button>
            </a>
          </p>
        {% else %}
          <p>
            <img src="/static/favicon.png"/>
          <p>
          <p>
            Please log in.
          <p>
        {% endif %}
        {% block menu %}{% endblock %}
      </menu>
      <dl>
        {% block dl %}{% endblock %}
      </dl>
      <article>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <h6>
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </h6>
        {% endif %}
        {% endwith %}
        {% block article %}{% endblock %}
      </article>
    </main>
    <footer>
      <div>
        <a href="/">
          <img src="/static/elio-psalms-logo.png">
        </a>
      </div>
      <div>
        <label>&copy; 2019 Made the elioWay</label>
      </div>
      <div>
        {% block volume_control %}{% endblock %}
      </div>
    </footer>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/adons.js?cb=v1.2"></script>
    <script src="/static/js/main.js?cb=v1.2"></script>
    {% block script %}{% endblock %}
  </body>
</html>
