{% extends "base.html" %}
{% block article %}
  {% if 'username' in session %}
    <h1 style="margin-top: 20px;margin-bottom:20px;"><button style="padding:10px 20px;"><a href="/all">
      <sup>{{ session['username'] }}</sup>
      <img src="/static/elio-psalms-logo.png">
    </a></button></h1>

    <p style="text-align: center;"><big>Hear this, all ye people; give ear, all ye inhabitants of the world:
    </big></p><p style="text-align: center;"><big>Both low and high, rich and poor, together.
    </big></p><p style="text-align: center;"><big>My mouth shall speak of wisdom; and the meditation of my heart shall be of understanding.
    </big></p><p style="text-align: center;"><big>I will incline mine ear to a parable: I will open my dark saying upon the harp.
    </big></p><p style="text-align: center;"><big>Wherefore should I fear in the days of evil, when the iniquity of my heels shall compass me about?
    </big></p><p style="text-align: center;"><big>They that trust in their wealth, and boast themselves in the multitude of their riches;
    </big></p><p style="text-align: center;"><big>None of them can by any means redeem his brother, nor give to God a ransom for him:
    </big></p><p style="text-align: center;"><big>(For the redemption of their soul is precious, and it ceaseth for ever:)
    </big></p><p style="text-align: center;"><big>That he should still live for ever, and not see corruption.
    </big></p>
  {% else %}
    <p><img src="/static/splash.jpg" style="width: 100%; height: auto;"></p>
    <form action="{{url_for('index')}}" method="post">
      <legend>
        Login
      </legend>
      <p>Username:<br/>
        <input type="text" name="username"/></p>
      <p>Password:<br/>
        <input type="password" name="passwd"/></p>
      <p><input type="submit" value="submit"/></p>
    </form>
  {% endif %}
{% endblock %}
{% block menu %}
{% endblock %}
