{% extends "base.html" %}
{% from "macros.html" import filter_music_button with context %}

{% block menu %}
  {% for filter, bys in sidebar.items() %}
    <p>
      <b>{{ filter }}</b><br>
      {% for by in bys %}
        {{ filter_music_button(filter, by) }}
      {% endfor %}
    </p>
  {% endfor %}
{% endblock %}

{% block article %}
  {% include "_player_controls.html" %}

  {% if results %}
    <h1 data-amplitude-song-info="album"></h1>
    <h2 data-amplitude-song-info="artist"></h2>
    <div>
      <figure>
        <img data-amplitude-song-info="cover_art_url"/><br/><br/>
        <input type="range" class="amplitude-song-slider">
        <p>
          <b>buckets</b>
          {% for buck in buckets %}
            {% if not buck == "all" %}
              <button class="bucket">{{ buck }}</button>
            {% endif %}
          {% endfor %}
        </p>
      </figure>
      <ul>
        {% for mp3 in results %}
          <li
            class="song amplitude-song-container amplitude-play-pause"
            data-amplitude-song-info="name"
            data-amplitude-song-index="{{ loop.index0 }}">{{ mp3.name }}</li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <p>
      Nothing to play. Try adding or removing some filters:
    </p>
    <p>
      {% for filter, by in existing_qs.items() %}
        <b>{{ filter }}</b>{{ filter_music_button(filter, by) }}
        {% if not loop.last %}
          |
        {% endif %}
      {% endfor %}
    </p>

  {% endif %}
{% endblock %}

{% block dl %}
  <div class="adon-list-panel-button"></div>
  {% for artist in results | groupby('artist') %}
    <dt>
      {{ filter_music_button('artist', artist.grouper) }}
    </dt>
    {# space saving: only show albums for artist when filtered #}
    {% if existing_qs | qs_active("artist", artist.grouper) %}
      {% for album in artist.list | groupby('album') %}
        {% for mp3 in album.list %}
          {% if loop.first %}
            <dd>
              <p>
                {{ filter_music_button("year", mp3.year) }}
                {{ filter_music_button("genre", mp3.genre) }}
              </p>

              <figure>
                <a href="/{{ bucket }}/?{{ existing_qs|qs_toggler('album', album.grouper) }}">
                  <img
                    {% if existing_qs|qs_active("album", album.grouper) %}
                    class="active"
                    {% endif %}
                    src="/mp3s/{{ mp3.art }}"/>
                </a>
              </figure>
            </dd>
          {% endif %}
          {# loop.first #}
        {% endfor %}
        {# mp3 #}
      {% endfor %}
      {# album #}
    {% endif %}
    {# artist filtered #}
  {% endfor %}
  {# artist #}
{% endblock %}

{% block script %}
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/amplitudejs@v5.0.2/dist/amplitude.js"></script>
  <script type='text/javascript'>
    function activateButtons(album_buckets) {
      // Showing which buckets the currently playing album is active for; AND handles
      // clicking the currently playing album in/out buckets.
      $('.bucket').each(function () {
        var button = $(this)
        var bucket = button.text()
        button.removeClass("active")
        if (album_buckets.includes(bucket)) {
          button.addClass("active")
        }
        button.unbind().click(function () {
          data = {
            bucket: bucket,
            album: $('h1').text()
          }
          $.post({{ url_for('buckets')}}, data).done(function (response) {
            activateButtons(response.buckets)
          }).fail(function (err) {
            console.log(err)
          });
        })
      })
    }
    Amplitude.init({
      'volume': 90,
      'songs': [
        {% for mp3 in results %}
          {
            'name': '{{ mp3.name }}',
            'artist': '{{ mp3.artist }}',
            'album': '{{ mp3.album }}',
            'url': '/mp3s/{{ mp3.url }}',
            'cover_art_url': '/mp3s/{{ mp3.art }}'
          },
        {% endfor %}
      ],
      "callbacks": {
        'song_change': function () {
          // Handles putting an album into the recently played bucket.
          data = {
            bucket: "recent",
            album: $('h1').text()
          }
          $.post({{ url_for('buckets')}}, data).done(function (response) {
            activateButtons(response.buckets)
          }).fail(function (err) {
            console.log(err)
          });
        },
        'initialized': function () {
          // Handles setting the bucket buttons for the initialized album.
          data = {
            album: $('h1').text()
          }
          $.get({{ url_for('buckets')}}, data).done(function (response) {
            activateButtons(response.buckets)
          }).fail(function (err) {
            console.log(err)
          })
        }
      }
    })
  </script>
{% endblock %}

{% block volume_control %}
  <input type="range" class="amplitude-volume-slider" step=".1"/>
{% endblock %}
