dl {
  @include colorize_god($heaven-color, $god-color);
  @include fixed_height(100%);
  @include vmargin(0, 0);
  overflow-y: auto;
  text-align: center;

  dt {
    display: inline-block;
    font-weight: bold;
  }

  dd {
    figure,
    p {
      margin: 0;
    }

    p {
      @include vpadding(0, $inline-padding);
      width: 100%;
    }

    figure {
      @include vpadding($inline-padding, 0);
      width: 100%;

      a {
        img {
          height: auto;
          width: 100px;
          &.active {
            border: 3px $god-color solid
          }
          @include tight {
            width: 80%;
          }
        }
      }
    }
  }
}
