@import "../amplitudejs/albumart";
@import "../amplitudejs/controller";
@import "../amplitudejs/tracklist";

article {
  @include fixed_height(100%);
  @include vmargin(0, 0);
  padding: $personal-space;

  header {
    @include controller();
  }

  h1,
  h2 {
    @include fontize_god($god-head);
    @include vmargin(0, 0);
    text-align: center;
  }
  h2 {
    margin-bottom: $personal-space;
  }

  div {
    @include vmargin($personal-space, 0);
    height: 80%;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    > figure {
      @include albumart(47%);
    }

    > ul {
      @include tracklist(51%);
    }
  }
}
