footer {
  @include colorize_god($hell-color, $god-color);
  @include fixed_height(5%);
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 0;
  margin: 0;
  padding: $personal-space;
  position: fixed;
  right: 0;
  width: 100%;

  div {
    padding: 0 $personal-space !important;

    img {
      max-height: 60px;
      width: auto;
    }

    label {
      display: block;
      font-size: 80%;
    }

    input {
      width: 180px !important;
    }
  }

  div:last-child {
    flex-grow: 2;
    text-align: right;
  }
  @include tight {
    padding: $inline-padding;
    justify-content: space-between;

    img,
    label {
      display: none;
      visibility: hidden;
    }
  }
}
