// LAYOUT ==================
$god-space: 0.5%; // the horizontal padding in all the prongs.
$heaven-width: 22%; // prong width right (as a percentage to help scaling).
$hell-width: 22%; // prong width left (as a percentage to help scaling).
$personal-space: 6px; // the vertical padding between believers.
$transition: 500ms;
// MEDIA BREAKS ==================
$god-loose: 1400px; // loose - prongs divided - no overlap.
$god-cosy: 1024px; // cosy - overlap between sinners and the pillar.
$god-tight: 768px; // tight - believers full width - piller width small margin.
$heaven-cosy: 0%; // cosy - allow no overlap in this fixed layout.
$hell-cosy: 0%; // tight - allow no overlap in this fixed layout.
$pillar-cosy: 0%; // tight - allow  no overlap in this fixed layout.
// COLORS ==================
$heaven-color: black; // dark color: mainly for bg with $pillar-color text.
$pillar-color: black; // dark color: mainly for heading text on white bg.
$hell-color: #572f2a; // dark color: mainly for bg with $pillar-color text.
$god-color: white; // $god-color: the primary color
$god-blushed: $heaven-color; // $god-color: the primary tint color
// TEXT ==================
$god-h1: 200%; // font size of h1.
$god-h6: 80%; // font size of h6.
$god-p: 80%;  // font size of paragraph text.
$god-spoke: $god-p * 1.2; // standout with big text.
$god-head: 'Montserrat'; // for heading level text.
$god-body: $god-head; // for body level text.
// BASICS ==================
$god-border: 1px $god-color solid; // general purpose border
$inline-padding: 3px;
$toothpaste-color: 'none';
// BELIEVERS ==================
$container: (main,); // sin classes only affect direct children of these
$pillar: (article,h6,p,form,); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (dl,); // hangs right - gets the best views.
$hell: (menu,); // hangs left.
// $pillar: (aside,); // pillar - all tags are stictly contained the same way - no believers here.
// $heaven: (blockquote,); // hangs right - gets the best views.
// $hell: (form,); // hangs left.
