@import "mixins/vmargin";
@import "mixins/vpadding";

main {
  @include colorize_god($pillar-color, $god-color);
  bottom: 5%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
}

body {
   -webkit-user-select: none;
   -webkit-tap-highlight-color: transparent;
   -webkit-touch-callout: none;
}

#{$container} {
  @import 'menu/hell';
  @import 'article/pillar';
  @import 'dl/heaven';
}
@import 'footer/atheist';
@import 'button/inline';
@import 'input/inline';
@import 'progress/inline';
@import 'adon/adonRevealPanel';
